body{
  display: flex;
  justify-content: center;
  background: #e7d1ff;
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}
